/* Nav */
#option a:first-child {
	font-weight: bold;
}

/* Content */
#content {
	width: 100%;
	margin: 0 1% 0 1%;
}

/* Search container */
#search-container {
	margin: 2%;
	display: flex;
	width: 60%;
}

#top-container {
	display: flex;
}

#tag {
	width: 70%;
	display: flex;
	align-self: flex-end;
}

#tag p {
	border-radius: 10px;
	padding: 1%;
	margin: 1%;
	border: 1px solid;
	text-align: center;
}

#search-container input {
	width: 60%;
	padding: 0.6%;
}

#search-container button i{
	font-size: 20px;
	padding: 2px;
}

/* Option */
#tab-container {
	display: flex;
	margin: 0;
	padding: 0 2% 0 2%;
}

#résultat {
	text-decoration: underline;
	width: 100%;
}

.opt {
	display: flex;
	align-items: baseline;
	margin: 0 1% 0 1%;
	width: 40%;
}

.liste {
	padding: 0;
	margin-left: 30px;
	display: none;
	position: absolute;
	z-index: 3;
	margin-top: 3%;
	background-color: white;
	width: 12%;
}

.liste li {
	padding: 5%;
	list-style-type: none;
}

.liste li:hover, .dropdown-calendrier td:hover {
	background-color: #f1f1f1;
}

.dropdown-menu, .dropdown-menu2 {
	position: relative;
}

.dropdown-submenu, .dropdown-calendrier, .dropdown-submenu2 {
	top: 0;
	left: 100%;
	display: none;
	position: absolute;
	background-color: white;
	width: 108%;
}

.dropdown-calendrier {
	width: 130%;
}

.dropdown-submenu, .dropdown-calendrier, .dropdown-submenu2 {
	padding: 2%;
}

.opt:hover .liste{
	display: block;
}

.dropdown-menu:hover .dropdown-submenu, .dropdown-menu2:hover .dropdown-submenu2, .dropdown-menu2:hover .dropdown-calendrier {
	display: block;
}

.more-content {
	overflow-y: scroll;
	height: 150px;;
}

/* Table */
div#scroll {
	overflow-y: scroll;
	height: 390px;
	margin-left: 1%;
}

#tab-container i {
	font-size: 20px;
	margin: 0 5% 0 5%;
}

tbody a {
	color: black;
}

table {
	border-collapse: collapse;
	width: 98%;
	border: 1px solid;
}

table img {
	width: 80%;
	text-align: center;
}

.carré {
	width: 60px;
}

#scroll th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	padding: 0.5%;
	background-color: white;
}

#scroll th[scope=row] {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 1;
}

td {
	text-align: center;
	border: 1px solid;
}

/* Footer */
footer p {
	margin: 1%;
}

footer {
	text-align:center;
}
